{{#each items}}
  <div class="card app-item d-flex flex-row mx-2 p-3 border-0 align-items-center"
       style="background-color: {{this.iconColor}}">
    <img src="{{this.icon}}" class="app-icon" alt="{{this.title}}"/>
    <div class="flex-fill ms-3" style="color: {{this.titleColor}}">
      <h5 class="card-title my-0">{{this.title}}</h5>
    </div>
  </div>
{{/each}}